body {
    height: 100vh;
    background-color: #DBDBDB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial;
}

#playArea {
    position: relative;
    width: 1000px;
    height: 1000px;
}

#center {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5A2328;
    left: 500px;
    top: 500px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.dust {
    background-color: #D16014;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

#upgradeBar {
    display: flex;
}

.upgradeBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upgradeButton {
    width: 130px;
    height: 80px;
    margin: 0 25px;
    font-size: 30px;
}

.upgradeBlock > p {
    color: #2C423F;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0;
}

button {
    cursor: pointer;
    background: none;
    border-style: solid;
    border-width: 5px;
    border-color: #2C423F;
    border-radius: 10px;
    color: #2C423F;
    font-weight: bold;
}

#createDust {
    width: 600px;
    height: 100px;

}

button:active {
    background-color: #527A75;
}

@keyframes moveDust {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(500px, 500px);
    }
}